


{% for spectacle in name %}
    <li>ID : {{ spectacle.id }}</li>
    <li>NOM : {{ spectacle.name }}</li>
    <li>DESCRIPTION : {{ spectacle.description }}</li>
    <li>PRIX : {{ spectacle.price }} €</li>
    <a href="single-product.php?id={{ spectacle.id }}">Découvrir</a>
    <br>
    <br>
{% endfor %}
